body {
    background-color: #0f0;
}

.box {
    width: 600px;
    height: 400px;
    margin: 20px;
    background: #f3a;
    background-image: url('https://www.w3schools.com/w3images/lights.jpg');
    /*background-size: 100%;
    background-size:contain; */
    background-size: cover;
}

